$base-theme:Default;
$skin-name:my_kendo;
$accent: #2fb3a6;
$info: #0073b7;
$success: #00a65a;
$warning: #f39c12;
$error: #dd4b39;
$text-color: #242424;
$bg-color: #ffffff;
$base-text: #242424;
$base-bg: #f5f6fa;
$hovered-text: #242424;
$hovered-bg: #efeff2;
$selected-text: #ffffff;
$selected-bg: #7a7a7a;
$series-a: #0069a5;
$series-b: #45a2d6;
$series-c: #7dcced;
$series-d: #ecbf4c;
$series-e: #e98f3d;
$series-f: #e34a00;
